* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to right, #2b5876, #4e4376);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease;
}

h1 {
    color: #2b5876;
    font-size: 24px;
    margin-bottom: 20px;
}

.answer-buttons {
    list-style-type: none;
    margin-top: 10px;
 
}

.answer-buttons li {
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    background-color: #2b5876;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #4e4376;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Hide elements until they are needed */
.hidden {
    display: none;
}

.start-container, .result-container {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    animation: fadeIn 1s ease;
}

.start-container input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.quiz-container {
   
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 650px;
   
}

#timer {
    font-size: 18px;
    margin-bottom: 15px;
}

#result-container {
    text-align: center;
}
.hidden {
    display: none;

}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: white; /* Optional background color */
    font-size: 14px;
    color: #333333; /* Optional text color */
}
.hidden { display: none; }
        .error { color: red; font-size: 14px; }